In [1]:
# import required libraries
import pandas as pd
import numpy as np

In [2]:
# read files 
Game_origin = pd.read_csv('../game with ratings/Games.csv')
Game_sales_origin = pd.read_csv('../game sales with image from vg/game_sales_with_image.csv')
Game_reviews_origin = pd.read_csv('../game reviews from vandal/game_reviews.csv')

In [3]:
# modify Game_origin to get the Game tables 
Game = Game_origin[["id", "name", "released", "developers"]].dropna()
Game["developers"] = Game["developers"].str.replace("||", ", ", regex=False)
Game = Game.rename(columns={'released': 'release_date', 'developers': 'developer'})

In [4]:
# extract Game table to Game.csv
Game.to_csv("Game.csv", index=False)

In [5]:
# modify Game_origin and Game to get Genre and Game_genre tables
Game_genre = Game_origin[["id", "genres"]]
Game_genre = pd.merge(Game, Game_genre, how='left')[["id", "genres"]]
Game_genre["genres"] = Game_genre["genres"].str.split("\|\|")
Game_genre = Game_genre.explode("genres").reset_index()[["id", "genres"]]

Genre = Game_genre[["genres"]]
Genre = Genre.sort_values(by=['genres'])
Genre = Genre[["genres"]].drop_duplicates().dropna().reset_index()[["genres"]]
Genre = Genre.rename(columns={'genres': 'name'})

In [6]:
# extract Game_genre and Genre to Game_genre.csv and Genre.csv respectively
Game_genre.to_csv("Game_genre.csv", index=False)
Genre.to_csv("Genre.csv", index=False)

In [7]:
# clean Game_reviews_origin 
Game_reviews_origin['website_rating'] = Game_reviews_origin['website_rating'].str.replace('None', '')
Game_reviews_origin['website_rating'] = Game_reviews_origin['website_rating'].str.replace(',', '')
Game_reviews_origin['website_rating'] = Game_reviews_origin['website_rating'].str.replace('-', '')
Game_reviews_origin['user_rating'] = Game_reviews_origin['website_rating'].str.replace('None', '')
Game_reviews_origin['user_rating'] = Game_reviews_origin['website_rating'].str.replace(',', '')
Game_reviews_origin['user_rating'] = Game_reviews_origin['website_rating'].str.replace('-', '')
Game_reviews_origin['website_rating'] = pd.to_numeric(Game_reviews_origin['website_rating'])
Game_reviews_origin['user_rating'] = pd.to_numeric(Game_reviews_origin['user_rating'])

In [8]:
# merge Game_reviews_origin and Game to find the user and website rating of the games 
Rating = pd.merge(Game, Game_reviews_origin, left_on='name', right_on='game', how='inner')[['id_x', 'website_rating', 'user_rating']]
Rating = Rating.groupby('id_x').mean().reset_index().rename(columns={'id_x': 'id'})

In [9]:
# extract Rating to Rating.csv
Rating.to_csv("Rating.csv", index=False)

In [10]:
# clean Game_sales_origin
Game_sales_origin["img_url"] = "http://www.vgchartz.com" + Game_sales_origin["img_url"]

In [11]:
# merge Game and Game_sales_origin 
Website = pd.merge(Game, Game_sales_origin, left_on='name', right_on='Name', how='inner')
Website = Website[['id', 'url', 'img_url']].sort_values(by='id').drop_duplicates(subset='id').reset_index(drop=True)
Website = Website.rename(columns={'url': 'vg_url', 'img_url': 'photo_url'})

In [12]:
# export Website to Website.csv
Website.to_csv("Website.csv", index=False)

In [15]:
Game.dropna()

,id,name,release_date,developer
0,1,D/Generation HD,2015-10-23,"West Coast Software, West Coast Software Limited"
1,10,G Prime Into The Rain,2016-01-06,Soma Games
2,100,Land Sliders,2015-09-24,Prettygreat Pty. Ltd.
3,1000,Pixel Gear,2016-10-20,"Oasis Games Limited, Geronimo Interactive"
4,10000,Gods and Idols,2016-12-12,Viking Tao
...,...,...,...,...
345662,99994,Holy or Dead,2017-05-17,Ralidon
345663,99995,Airstrike HD Demo,2016-03-04,Fifth Dimension Company
345664,99997,Urania's Mirror,2016-04-25,sneakthief
345665,99998,Simucities,2017-05-26,keypixels
345666,99999,Pocket Assault (itch),2015-08-20,Carsten_Ostermann

In [18]:
Game_genre

           id      genres
0           1   Adventure
1           1      Puzzle
2          10  Simulation
3          10       Indie
4         100   Adventure
...       ...         ...
455515  99994         NaN
455516  99995      Action
455517  99997   Adventure
455518  99998         NaN
455519  99999     Shooter

[455520 rows x 2 columns]

In [20]:
Genre

                     name
0                  Action
1               Adventure
2                  Arcade
3             Board Games
4                    Card
5                  Casual
6             Educational
7                  Family
8                Fighting
9                   Indie
10  Massively Multiplayer
11             Platformer
12                 Puzzle
13                    RPG
14                 Racing
15                Shooter
16             Simulation
17                 Sports
18               Strategy